In [1]:
#Print the type of 42, 3.14, and 'hello'.
print(type(42))
print(type(3.14))
print(type("hello"))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
number_str = '100'
number_int = int(number_str)
print(type(number_int))
print(number_int)

<class 'int'>
100

In [ ]:
x = 3
y = 20.2

result = x+y
print(result)
print(type(result))

# the resulting type is a float

23.2
<class 'float'>

In [ ]:
x = '100'
y= 2

result = x*y
print(result)
print(type(result))

#the string is concantinated and repeats by the number if the number is an in 
# if the number is a float though an error is raised

TypeError: can't multiply sequence by non-int of type 'float'

# Challenge